<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    !-->
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.selection.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/html2canvas.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jspdf.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/addimage.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/png_support.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/png.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/zlib.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/export.js"></script>
  </head>
  <body>
    <div class="page-header">
      <h1>Monitor d'electrodomèstics <small>Potència i temperatura</small></h1>
    </div>
    <script language="javascript" type="text/javascript">  
      $(document).ready(function(){
          $.getJSON("/data/all/{{device}}/{{points}}", function(data) {
            var options = {
              xaxis: { mode: "time", 
timezone: "browser",
timeformat: "%a, %d/%b/%y %H:%M:%S",
dayNames: ["du", "dl", "dm", "dc", "dj", "dv", "ds"],
monthNames: ["gen", "feb", "mar", "abr", "mai", "jun", "jul", "ago", "set", "oct", "nov", "des"]
 },
             yaxes: [ 
                { position: "left", tickFormatter: function(val, axis) { return val < axis.max ? val.toFixed(2) : "<b>Watts</b>";} }, 
                { position: "right", tickFormatter: function(val, axis) { return val < axis.max ? val.toFixed(2) : "<b>Celsius</b>";} } ],
                selection: { mode: "x" },
                legend: { noColumns: 3,
                backgroundColor: null,
                backgroundOpacity: 0,
                position: "nw" },
                grid: { hoverable: true }
             };

            //succes - data loaded, now use plot:
            var plotarea = $("#placeholder");

            // Zoom
            plotarea.bind("plotselected", function (event, ranges) {
                $("#selection").text(ranges.xaxis.from.toFixed(1) + " to " + ranges.xaxis.to.toFixed(1));
                $.each(plot.getXAxes(), function(_, axis) {
                  var opts = axis.options;
                  opts.min = ranges.xaxis.from;
                  opts.max = ranges.xaxis.to;
                });
                plot.setupGrid();
                plot.draw();
                plot.clearSelection();
            });

            // Hover
            $("<div id='tooltip'></div>").css({
                position: "absolute",
                display: "none",
                border: "1px solid #fdd",
                padding: "2px",
                "background-color": "#fee",
                opacity: 0.80
                }).appendTo("body");

            plotarea.bind("plothover", function (event, pos, item) {
            if (item) {
              var x = item.datapoint[0].toFixed(2),
                  y = item.datapoint[1].toFixed(2);

              $("#tooltip").html(y)
                .css({top: item.pageY+5, left: item.pageX+5})
                .fadeIn(200);
            } else {
              $("#tooltip").hide();
              }
            });  

            // Data
            data[0]["lines"] = {show: true, fill: false};
//            data[0]["points"] = {show: true};
            data[1]["lines"] = {show: true, fill: false};
            data[1]["yaxis"] = 2;
            data[2]["lines"] = {show: true, fill: false};
            data[2]["yaxis"] = 2;

            var plot = $.plot(plotarea,data,options);
            
            });
          });

</script>       
<div id="placeholder" style="width:1024px;height:500px;"></div>
<a id="generate">Captura imatge</a>
</body>
</html>
