<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.time.js"></script>
  </head>
  <body>
    <h1>Graph</h1>
    <script language="javascript" type="text/javascript">  
      $(document).ready(function(){
          $.getJSON("/data/intensity/{{device}}/{{points}}", function(data) {
            var options = {
              xaxis: { mode: "time", timezone: "browser" }
            };
            //succes - data loaded, now use plot:
            var plotarea = $("#placeholder");
            //var data=json.data;
            var plot = $.plot(plotarea,[data],options);
            
            });
          });

</script>       
<div id="placeholder" style="width:600px;height:300px;"></div>
                                                                                                                                                                                                                                                        </body>
                                                                                                                                                                                                                                                      </html>
