<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.time.js"></script>
  </head>
  <body>
    <h1>Graph</h1>
    <script language="javascript" type="text/javascript">  
      $(document).ready(function(){
          $.getJSON("/data/intensity/{{device}}/{{points}}", function(data) {
            var options = {
              xaxis: { mode: "time", timezone: "browser" }
            };
            //succes - data loaded, now use plot:
            var plotarea = $("#placeholder");
            //var data=json.data;
            var plot = $.plot(plotarea,[data],options);
            
            });
          });

</script>       
<div id="placeholder" style="width:600px;height:300px;"></div>
                                                                                                                                                                                                                                                        </body>
                                                                                                                                                                                                                                                      </html>
